---
title: OH MY!
front: matter
---

<!DOCTYPE html>
<html>
<head data-front="{{ front }}">
  <meta charset="utf-8"/>
  <title>{{ title }}</title>
  {% metaGenerator %}
</head>
<body>

<main>{{ content }}</main>

</body>
</html>
