---
title: InDeX pAgE
# layout: layouts/default.liquid
permalink: "/index-{% eleventyVersion %}.html"
---

<header>
<h1>{{ title }}</h1>
</header>

<p>This is some hot stuff!</p>

<footer>front={{ front }}</footer>
